/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primary-text-color: rgb(0, 200, 255);
  --secondary-text-color: white;
  --background-color: black;
  --tab-links-color: #ffac41;
  --font-first: "Bebas Neue", cursive;
  --font-second: "Montserrat Alternates", sans-serif;
  --header-font: "Poiret One", cursive;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: pointer;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

.load-container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text-color);
  z-index: 1000000;
}
.load-container h1 {
  font-family: var(--header-font);
  font-size: 6vw;
  color: var(--background-color);
  letter-spacing: 3rem;
  line-height: 0.7em;
  font-weight: bolder;
}

/* custom scroll bar */
::-webkit-scrollbar {
  display: none;
}
/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
  z-index: 99;
}
.navbar.sticky {
  padding: 10px 0;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--primary-text-color);
  font-family: var(--header-font);
  font-size: 2.5rem;
  letter-spacing: 10px;
  font-weight: 600;
}
.navbar .menu {
  list-style: none;
  display: inline-block;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 3rem;
  padding: 15px 10px;
  transition: color 0.3s ease;
  font-family: var(--font-second);
  transition: all 0.5s;
}
.navbar .menu li a:hover {
  color: rgb(255, 179, 0);
}
/* menu btn styling */
.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*==================================
--------Intro Section--------------
===================================*/
.home {
  display: flex;
  height: 100vh;
  min-height: 700px;
  font-family: var(--font-first);
}
.border {
  display: flex;
  background-image: url("./img/who-border.png");
  min-height: 300px;
  background-size: 100% 100%;
  margin-right: 0rem;
  transform: translateX(1600px);
}
.border .max-width {
  width: 100%;
  display: flex;
}
#home1 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: 6rem;
  left: 56rem;
  transform: translateX(2500px);
  z-index: -100;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-2 {
  font-size: 8rem;
  color: white;
  font-family: var(--header-font);
  font-weight: bolder;
}

.home .home-content .text-2 .letter {
  display: inline-block;
  opacity: 0;
}
.home .home-content .text-3 {
  font-family: var(--header-font);
  color: rgb(0, 200, 255);
  font-size: 12rem;
  font-weight: bolder;
}

.scroll-down {
  height: 60px;
  width: 40px;
  border: 4px solid white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 4px solid rgb(7, 252, 248);
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s infinite ease-in-out;
}
.scroll-down::after {
  top: 20%;
  animation-delay: 0.3s;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
/*==================================
--------About Section--------------
===================================*/
.about {
  background-color: var(--background-color);
}
.about .title {
  color: var(--primary-text-color);
  font-family: var(--header-font);
  font-size: 10rem;
  width: 100%;
  font-weight: bolder;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  transform: translateX(-1000px);
}

.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-second);
  margin-bottom: 10px;
  transform: translateX(1000px);
  color: var(--secondary-text-color);
}
.about .about-content .right .text span {
  color: var(--primary-text-color);
}
.about .about-content .right p {
  text-align: justify;
  transform: translateX(1000px);
  font-family: var(--font-second);
}
.about-para {
  color: var(--secondary-text-color);
}
.about .about-content .right a {
  display: inline-block;
  background: linear-gradient(
    41deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 249, 255, 1) 8%,
    rgba(0, 255, 252, 1) 92%,
    rgba(0, 0, 0, 1) 92%
  );
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  padding: 15px 30px;
  font-family: var(--font-second);
  margin-top: 1rem;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
}

.about-para #blur {
  opacity: 0.5;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  font-family: var(--font-first);
}
.tab-links {
  margin-right: 50px;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: var(--font-second);
  position: relative;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--tab-links-color);
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 1rem;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
  transform: translateY(-10px);
  color: var(--secondary-text-color);
  font-family: var(--font-second);
}
.tab-contents ul li span {
  color: var(--primary-text-color);
  font-size: 1rem;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
  color: var(--tab-links-color);
}
.border2 {
  background-image: url("./img/skills-border.png");
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  transform: translateX(-1600px);
}
/*==================================
--------Skills Section--------------
===================================*/

.skills {
  margin-top: 3rem;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}
.skills .title {
  font-family: var(--header-font);
  color: var(--primary-text-color);
  font-size: 10rem;
  font-weight: bolder;
  letter-spacing: 10px;
}

.skills .skills-content .column {
  width: calc(45% - 30px);
}
.skills .skills-content .left .text {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: var(--font-second);
  color: orange;
}
.skills .skills-content .left p {
  text-align: justify;
  font-family: var(--font-second);
}
.skills .skills-content .left ul li {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: var(--font-second);
}

.skills .skills-content .right {
  height: 35rem;
  width: 40rem;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 2fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.ui-widgets {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 7rem;
  margin: 1.5rem;
  border: 1rem solid white;
  text-align: center;
  box-sizing: border-box;
}
.div1 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 65;
}
.div2 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 152;
}
.div3 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 43;
}
.div4 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 87;
}
.div5 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 108;
}
.div6 circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 435;
  stroke-dashoffset: 130;
}
svg {
  transform: translateX(-1rem) translateY(-1rem);
}
.ui-widgets .ui-values {
  top: 40px;
  position: absolute;
  left: 10px;
  right: 0;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  font-family: var(--font-second);
}
.ui-widgets .ui-labels {
  left: 0;
  bottom: -50px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-second);
  position: absolute;
  width: 100%;
  font-size: 16px;
}

.code-achievement-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 15rem;
}

.codechef-logo a {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  font-size: 6rem;
  font-family: var(--font-first);
  text-decoration: none;
  color: white;
}
.codechef-logo a:hover {
  text-decoration: underline;
}
#chef {
  color: rgb(0, 110, 255);
}
.codechef-rank {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  font-size: 3rem;
  font-family: var(--font-second);
}
.codechef-rank h1,
.codechef-logo a {
  position: absolute;
  top: 159px;
  left: 0;
  right: 0;
  text-align: center;
}
.codechef-rank span {
  position: absolute;
  top: 300px;
  left: 0rem;
  right: 0;
  transform: scale(2.5);
  text-align: center;
  color: rgb(0, 255, 115);
}

.border4 {
  background-image: url("./img/Work-border.png");
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  transform: translateX(1600px);
}

/*==================================
--------Projects Section--------------
===================================*/
.border6 {
  background-image: url("./img/contact-border.png");
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  transform: translateX(-1600px);
}

.projects {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}
.projects .title {
  font-family: var(--header-font);
  color: var(--primary-text-color);
  font-weight: bolder;
  font-size: 10rem;
  letter-spacing: 10px;
}
.slider-wrapper {
  position: relative;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider:hover {
  cursor: grab;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 2rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav p {
  letter-spacing: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.border7 {
  background-image: url("./img/credit-border.png");
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  transform: translateX(1600px);
}

/*==================================
--------Contact Section--------------
===================================*/
.contact {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}
.contact .title {
  font-family: var(--header-font);
  font-weight: bolder;
  color: var(--primary-text-color);
  font-size: 10rem;
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
  opacity: 1;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--primary-text-color);
}
.contact .contact-content .info .head {
  font-weight: 500;
  font-family: var(--font-second);
}
.contact .contact-content .info .sub-title {
  color: rgb(105, 105, 105);
  font-family: var(--font-second);
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 60px;
  width: 100%;
  margin-bottom: 1rem;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border-radius: 1px;
  outline: none;
  padding: 0 20px;
  font-size: 17px;
  font-family: var(--font-second);
  transition: all 0.3s ease;
}
.contact .right form .field input,
.contact .right form .field textarea {
  background-color: transparent;
  border: 2px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border: 2px solid var(--primary-text-color);
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.contact #msg {
  color: var(--tab-links-color);
}
.right {
  font-family: var(--font-second);
}
.right form .button-area button {
  color: black;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 800;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  flex-wrap: nowrap;
  background: linear-gradient(
    41deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 249, 255, 1) 8%,
    rgba(0, 255, 252, 1) 92%,
    rgba(0, 0, 0, 1) 92%
  );
  font-family: var(--font-second);
  transition: all 0.3s ease;
}
/*==================================
--------Credits Section--------------
===================================*/

.credits .title {
  color: var(--primary-text-color);
  font-family: var(--header-font);
  font-weight: bolder;
  font-size: 10rem;
  width: 100%;
  letter-spacing: 10px;
}
.platform-content {
  margin-bottom: 6rem;
}
.platform-content h1 {
  color: rgb(255, 179, 0);
  text-align: center;
  font-family: var(--font-first);
}
.music-content h1 {
  color: rgb(255, 179, 0);
  text-align: center;
  font-family: var(--font-first);
}
.platform-content ul,
.music-content ul {
  list-style: none;
}
.platform-content ul li,
.music-content ul li {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--font-second);
  font-size: 1.2rem;
  color: white;
}
/*==================================
--------Responsive Media Section--------
===================================*/
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .home .home-content .text-3 {
    font-size: 2rem;
  }
}
@media (max-width: 970px) {
  .code-achievement-section .codechef-logo a {
    font-size: 4rem;
  }
  .code-achievement-section .codechef-rank {
    font-size: 2rem;
  }
  .about .title,
  .skills .title,
  .contact .title,
  .projects .title,
  .credits .title {
    font-size: 3rem;
  }
}
@media (max-width: 470px) {
  .border,
  .border2,
  .border4,
  .border6,
  .border7 {
    display: none;
  }
}
@media (max-width: 400px) {
  .home {
    background-image: none;
  }
  .navbar .logo a {
    font-size: 8px;
  }
  .code-achievement-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .code-achievement-section .codechef-logo a {
    font-size: 4rem;
  }
  .code-achievement-section .codechef-rank {
    display: none;
  }
  .platform-content ul li,
  .music-content ul li {
    font-size: 1rem;
  }
  .swiper-slide h1 {
    font-size: 1.5rem;
  }
  .made-border h1 {
    font-size: 0.4rem;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home {
    background-color: black;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar .logo a {
    font-size: 2rem;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

::selection {
  background: #b4ff39;
  color: #170f1e;
}

.reveal {
  position: relative;
  transform: translateY(150px) rotateX(60deg);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
