/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela&display=swap');

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}

body, html {
  font-size: 62.5%;
  background-color: var(--bg-color);
  overflow: hidden;
}

.max-width {
  width: min(400ch, 100% - 4rem);
  margin-inline: auto;
}

/* Color Variables */
:root {
  --primary-color: #F4CF54;
  --bg-color: #14161C;
  --text-color: #ffffff;
  --head-font: "Bebas Neue", sans-serif;
  --body-font: 'Varela', sans-serif;
}

/* Utility Styles */
.highlighted-span {
  color: var(--primary-color);
}
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  position: fixed;
  top: calc(5rem/ -2);
  left: calc(5rem / -2);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Navigation Bar */
.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.navigation-bar h1 {
  font-size: 5rem;
  font-family: var(--head-font);
  color: var(--text-color);
}

.nav-toggle{
  margin-top: 0.5rem;
  background-color: var(--text-color);
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: var(--body-font);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.2rem 3.5rem;
  position: relative;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.music-toggle{
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 2rem;
  background-color: var(--text-color);
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-family: var(--body-font);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.fa-ellipsis-vertical{
  position: absolute;
  top:1.4rem;
  right: 2rem;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-toggle:hover,.music-toggle:hover{
  background-color: var(--primary-color);
}

.navigation-links{
	position: absolute;
	width: 100%;
	background: var(--primary-color);
	display: flex;
  top:-200rem;
  z-index: 2;
}

.navigation-links ul {
	list-style: none;
}

.navigation-links ul li{
	margin: 5rem 0;
  border-top: 0.07rem solid var(--bg-color);
}
.navigation-links ul li a{
	color: var(--bg-color);
	font-size: 15rem;
  font-family: var(--head-font);
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
}
.close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
  z-index: 3;
}
.close div::before,
.close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: var(--bg-color);
	transition: background .5s ease;
}
.close div::before{
	transform: rotate(-45deg);
}

.close div::after{
	transform: rotate(45deg);
}

.close:hover div::before,
.close:hover div::after{
	background:var(--bg-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Intro Main Container */
.main-container {
  width: 100%;
  height: 79vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading-title {
  font-size: 22rem;
  font-family: var(--head-font);
  color: var(--text-color);
}

.heading-desc{
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  font-weight: bolder;
  text-transform: uppercase;
}
/* Scroll More Section */
.scroll-more {
  display: flex;
  justify-content: space-evenly;
}

.scroll-more h1 {
  font-size: 2.5rem;
  font-family: var(--head-font);
  color: var(--text-color);
  font-weight: lighter;
}


.about-container{
  width: 100%;
  margin-top: 15rem;
}
.page-scroller{
background-color: var(--primary-color);
white-space: nowrap;
overflow: hidden;
margin-bottom: 5rem;
}

.about-title{
  font-size: 15rem;
  font-family: var(--head-font);
  color:var(--bg-color);
  display: inline-block;
  padding-right: 15rem;
  animation: scroll 5s linear infinite ;  
  position: relative;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100% - 1rem));
  }

}

.about-para{
  width: 100%;
  font-size: 5rem;
  font-family: var(--body-font);
  color:var(--text-color);
  font-weight: bold;
}

.what-title{
  font-size: 2rem;
  font-family: var(--body-font);
  color:var(--text-color);
  margin-top: 5rem;
  text-transform: uppercase;
}
.what-box{
  width: 100%;
  margin-top: 5rem;
}
.what-desc{
  width: 100%;
  border-top: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
  color:var(--primary-color);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.what-desc:hover{
  background-color: var(--primary-color);
  color:var(--bg-color);
}
.what-desc h1{
  font-weight: bold;
  font-size: 12rem;
  font-family: var(--head-font);
  text-transform: uppercase;
  padding: 1rem;
}

.accolades-title
{
  font-size: 2rem;
  font-family: var(--body-font);
  color:var(--text-color);
  margin-top: 5rem;
  text-transform: uppercase;
}
.accolade-box{
  width: 100%;
  margin-top: 5rem;
}
.accolade-box h1{
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  padding: 1rem;
}

/*  */
.work-container{
  width: 100%;
  margin-top: 15rem;
}
.work-title{
  font-size: 15rem;
  font-family: var(--head-font);
  color:var(--bg-color);
  display: inline-block;
  padding-right: 15rem;
  animation: scroll 5s linear infinite ;  
  position: relative;
}

.web-projects{
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  text-transform: uppercase;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.project{
  padding: 1rem;
}
.project-image{
  width: 100%;
  height: 35rem;
  border-radius: 3rem;
}
.purple{  
  background-image: url("./assets/images/purple-logo.svg");
  background-size:cover;
  background-repeat: no-repeat;
}
.nath{
  background-image: url("./assets/images/nath-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.block{
  background-image: url("./assets/images/block.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.flight{
  background-image: url("./assets/images/flight.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-stack{
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--body-font);
  color: var(--text-color);
}
.project-name{
  font-size: 5rem;
  font-family: var(--head-font);
  color:var(--text-color);
}
.project-name:hover{
  color:var(--primary-color);
}
.ml-projects{
  margin-top: 5rem;
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  text-transform: uppercase;
}

.blender-projects{
  margin-top: 5rem;
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  text-transform: uppercase;
}

.blades,.nintendo,.pokeball{
  margin-top: 4rem;
}
.blades-title,.nintendo-title,.pokeball-title{
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--body-font);
  color:var(--text-color);
  text-transform: uppercase;
}

model-viewer{
  width: 100%;
  height: 100vh;
}
.progress-bar{
  width: 50%;
  background-color: var(--text-color);
}

/* Connect */
.connect{
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.connect-title{
  font-size: 15rem;
  font-family: var(--head-font);
  color:var(--texthighlight-color);
  display: inline-block;
  padding-right: 15rem;
  animation: scroll 5s linear infinite ;  
  position: relative;
}
.linkcontainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.social-accounts a, .code-accounts a{
  font-size: 5rem;
  font-family: var(--head-font);
  color:var(--text-color);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}
.social-accounts a:hover,.code-accounts a:hover{
  background-color: var(--text-color);
  color:#000000;
}

.email h2{
  font-size: 2rem;
  font-family: var(--body-font);
  color:var(--text-color);
  padding: 1rem;
}


/* Responsive Query */
@media screen and (max-width: 768px) {
  .navigation-links ul li a{
    font-size: 9rem;
  }
  .heading-title{
    font-size: 11rem;
  }
  .heading-desc{
    font-size:2rem;
  }
  .about-para{
    font-size: 2.5rem;
  }
  .what-desc h1{
    font-size: 4.5rem;
  }
  .accolade-box h1{
    font-size: 2rem;

  }
  .web-projects,.ml-projects,.blender-projects{
    font-size: 3rem;
  }
  .blades-title,.nintendo-title,.pokeball-title{
    font-size: 3rem;
  }
  .linkcontainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .connect-title, .about-container .about-title{
    font-size: 8rem;
  }
  .project-container{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    }
    .project-stack{
      font-size: 1.5rem;
    }
    .project-name{
      font-size: 3rem;
    }
    .project-image{
      height: 20rem;
    }
}