@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  cursor: pointer;
}
/***Settings of CSS***/

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-button: #2acf8d;
  --font-style: "Coda", cursive;
}
/* Hide scrollbar initially */
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
  font-weight: 700;
}
.max-width {
  width: min(300ch, 100% - 4rem);
  margin-inline: auto;
}

span {
  color: var(--primary-button);
}
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-button);
  box-shadow: 0 0 6rem #0fa, 0 0 9rem #0fa, 0 0 10rem #0fa, 0 0 11rem #0fa,
    0 0 16rem #0fa;
  pointer-events: none;
  z-index: 9999;
}
/**Loading Container**/
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  overflow: hidden;
}

.bar {
  width: 10vw;
  height: 100vh;
  background-color: var(--primary-button);
}
.counter {
  position: fixed;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  color: var(--background-color);
  padding: 4rem;

  font-size: 30rem;
  font-family: var(--font-style);
}
.loading-complete .overlay,
.loading-complete .counter {
  /* Update z-index to negative value after loading is complete */
  z-index: -1;
}
/* *Navbar* */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.navbar a {
  font-size: 6rem;
  font-family: var(--font-style);
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
}
.navbar a span {
  color: var(--primary-button);
}
.navbar-links {
  display: flex;
  padding-top: 2.5rem;
  gap: 4rem;
}
.hamburger {
  display: none;
}

.ham-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-button);
}
.navbar-links li a {
  font-size: 2rem;
  list-style-type: none;
  font-family: var(--font-style);
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-links li a:hover {
  color: var(--primary-button);
}
.navbar-links li i {
  font-size: 2.5rem;
}

/* Home Container */
.home-container {
  width: 100%;
  height: 90vh;
  background-image: url("./img/background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.home-container h1 {
  position: absolute;
  top: 20%;
  font-size: 13rem;
  font-family: var(--font-style);
  color: var(--text-color);
}
.home-container h1:nth-child(2) {
  position: absolute;
  top: 40%;
}
.home-container h1:nth-child(2) {
  color: var(--primary-button);
}
.home-container h3 {
  position: absolute;
  top: 65%;
  font-size: 5rem;
  font-family: var(--font-style);
  color: var(--text-color);
  border-top: 0.5rem solid var(--primary-button);
  border-bottom: 0.5rem solid var(--primary-button);
}

/*****About-Container Code******/
.about-container {
  width: 100%;
  margin-top: 20rem;
}
.about-container h1 {
  padding: 5rem;
  font-size: 2rem;
  font-family: var(--font-style);
  color: var(--text-color);
  text-transform: uppercase;
}
.about-container p {
  padding: 5rem;
  font-size: 5rem;
  font-family: var(--font-style);
  color: var(--text-color);
}
.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  overflow: hidden;
  margin: 2rem;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20rem;
  background-color: var(--primary-button);
  border-radius: 10px;
}

.center-text,
.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: var(--font-style);
  color: var(--text-color);
  text-align: center;
}

.percentage {
  font-size: 10rem;
  font-family: var(--font-style);
  color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) scale(1.2);
  z-index: -1;
}
/*******Work Container CSS*********/
.work-container {
  width: 100%;
  margin-top: 20rem;
}
.work-container a {
  text-decoration: none;
}
.work-container h1 {
  padding: 5rem;
  font-size: 2rem;
  font-family: var(--font-style);
  color: var(--text-color);
  text-transform: uppercase;
}
.work-title-purple,
.work-title-aim,
.work-title-flightdelay,
.work-title-recommendation,
.work-title-plc {
  width: 100%;
  border-top: 0.3rem solid var(--text-color);
  border-bottom: 0.3rem solid var(--text-color);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}
.work-title-purple h1,
.work-title-aim h1,
.work-title-flightdelay h1,
.work-title-recommendation h1,
.work-title-plc h1 {
  font-size: 7rem;
  font-family: var(--font-style);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.work-title-machinelearning {
  padding: 4rem;
  font-size: 10rem;
  margin-bottom: 2rem;
  font-family: var(--font-style);
  opacity: 0.3;
  color: var(--text-color);
}

.work-title-webdev {
  padding: 4rem;
  font-size: 10rem;
  margin-top: 13rem;
  font-family: var(--font-style);
  opacity: 0.3;
  color: var(--text-color);
}
.work-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-button);
  transition: width 0.3s ease;
  z-index: -3;
}

.work-title:hover::before {
  width: 100%;
}

.work-title:hover h1 {
  transform: translateX(2rem);
  color: var(--background-color);
}
.work-container p {
  padding: 5rem;
  font-size: 4rem;
  font-family: var(--font-style);
  color: var(--text-color);
}

model-viewer {
  height: 100vh;
  width: 100vw;
}
/*******Motto Container CSS*********/
.motto-container {
  width: 100%;
}
.motto-container h1 {
  font-size: 15rem;
  font-family: var(--font-style);
  color: var(--text-color);
  text-align: center;
}
.motto-container h2 {
  font-size: 3rem;
  font-family: var(--font-style);
  color: var(--text-color);
  text-align: center;
  margin-bottom: 10rem;
}
.motto-container .author {
  font-style: italic;
  font-family: var(--font-style);
  font-size: 3rem;
  margin-top: 3rem;
}
/*******Footer Bar CSS*********/
.footer {
  margin-top: 20rem;
  width: 100%;
}
.footer .connect {
  padding: 4rem;
  color: var(--text-color);
  font-family: var(--font-style);
  font-size: 2rem;
}
.connect-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 4rem;
}

.left-link-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
}
.left-link-container h2 {
  padding: 1rem 2rem;
  text-decoration: none;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  font-size: 4rem;
  font-family: var(--font-style);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.left-link-container h2 a {
  text-decoration: none;
  color: var(--text-color);
}
.left-link-container h2:hover {
  background-color: var(--primary-button);
}
.left-link-container h2:hover a {
  color: var(--background-color);
}
.right-info-container {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}
.right-info-container p {
  padding: 0 4rem;
  color: var(--text-color);
  font-size: 1.7rem;
  font-family: var(--font-style);
}

/* Scrollbar css */
body::-webkit-scrollbar {
  background-color: var(--background-color);
  width: 0.8rem;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-button);
}
body.loading-complete {
  overflow-y: auto;
}

/* Responsive Queries */
@media only screen and (max-width: 988px) {
  .navbar-links {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 4;
  }

  .navbar-links.active {
    left: 0;
  }

  .navbar-links li {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    margin-top: 2rem;
    cursor: pointer;
  }
  .hamburger.active .ham-bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .ham-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    color: var(--primary-button);
  }

  .hamburger.active .ham-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    color: var(--primary-button);
  }
}
